@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-820px {
    height: 820px;
  }

  .h-500px {
    height: 500px;
  }

  .h-600px {
    height: 600px;
  }

  .w-500px {
    width: 500px;
  }

  .h-1000px {
    height: 1000px;
  }

  .w-canvas {
    width: 800px
  }

  .h-canvas {
    height: 600px
  }
  
}

@layer base {
 @font-face {
    font-family: "logo"; 
    src: url('../fonts/th-song-miti.ttf');
  }
}