<section>
  <form
    id="msgform"
    
  >
    <input
      maxlength="30"
      aria-label="Your message"
      type="text"
      id="msg"
      name="msg"
      placeholder="Say something"
    />
    <input
      id="submit-msg"
      type="submit"
      value="Change"
    />
  </form>
  <ul id="cursor-list" />
</section>